body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Sylfaen;
    font-size: 14px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.navbar {
    background: #07457c;
    font-size: 16px;
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-nav > li > a {
    color: white;
}

.body-content table.table td:last-child {
}

.body-content table.table th {
    font-weight: normal;
    color: silver;
}

.body-content {
    min-height: 600px;
    padding-top: 10px;
}

footer {
    color: gray;
    font-size: 16px;
}



.body-content dl dd {
    margin-top: 20px;
    margin-bottom: 20px;
}


.submenu {
    background: #ECECEC;
    border-bottom: 1px solid #DADADA;
    font-size: 15px;
}

.form{

}